version: "3.9"
services:
  db:
    image: mysql:8.0.32
    container_name: db
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: P@ssword1234
      MYSQL_DATABASE: db_gggame
      MYSQL_USER: gggame
      MYSQL_PASSWORD: P@ssword1234
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
      - ./db-data:/var/lib/mysql
    ports:
      - '3300:3300'
    networks:
      - mynetwork
  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - '8000:80'
    environment:
      - PMA_HOST=db
    depends_on:
      - db
    networks:
      - mynetwork
  api:
    build: .
    environment:
      DB_HOST: db
      DB_USER: gggame
      DB_PASSWORD: P@ssword1234
      DB_DATABASE: db_gggame
    ports:
      - '5000:5000'
    depends_on:
      - db
    networks:
      - mynetwork
  web:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - mynetwork
networks:
  mynetwork:
    driver: bridge
